PORT=3000

GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"your-project-id","private_key":"-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n","client_email":"your-service-account@your-project.iam.gserviceaccount.com"}
GOOGLE_SPREADSHEET_ID=13IG0zSMMGRCeDT79VQuf-RMj8fnqj9hiitI1mrLi_ds
GOOGLE_SPREADSHEET_NAME=AllStarsLeads
TEAM_SPREADSHEET_ID=19zpp7Qnhx8RO5kM6iC83mBxcT6f2s5oUk8Uep_mdNeg
TEAM_SHEET_NAME=Действующие
TELEGRAM_BOT_TOKEN=
